// 
// Variables
//

// colors
$indigo = #3F51B5;
$indigo900 = #1A237E;
$title-color = white;

// Fonts 
$roboto = 'Roboto'
$font-size-title-app = 1.3em;
$font-size-buttons-sign = 1em;
$font-size-footer = 0.9em;

