.NotFoundPage
	text-align center
	font-size $font-size-NotFounPage
	font-family $roboto
	color $indigo
	transform translate(0, 250%)
	a
		text-decoration none
		font-size 0.5em
		color $indigo
		&:hover
			text-decoration underline