.wrapperFooter
	position relative
	display block

.Footer	
	background-color $indigo900
	width 100%
	position absolute
	bottom -368px	
	height 40px;	
	p		
		text-align center
		transform translate(0, 90%)
		font-size $font-size-footer 
		font-family $roboto
		color $title-color
		a
			text-decoration none
			color $title-color
			&:hover
				text-decoration underline
		
		