.RecipeListItem
	width 100%
	.cardItem			
		+mobile()
			column(1/1)
		+tablet()
			column(1/1)
		+desktop()
			column(1/2)
		+hd()
			column(1/3)		
		height auto	
		margin-right 12px !important
		margin-left 12px
		margin-bottom 40px
		.cardClick
			cursor pointer
	